<section class="services section">
  <h2 class="section__title-2">
    <span>Meus serviços</span>
  </h2>

  <div class="services__container container grid">
    <app-service-card
    [nomeServico]="'Front-End'"
    [descricaoServico]="'
          Como desenvolvedor Front-end,
          meu foco principal é criar experiências de usuário excepcionais
          e funcionais para aplicações web modernas. Utilizando as
          capacidades robustas do Angular, sou capaz de projetar e
          implementar interfaces de usuário interativas e responsivas.
          Minha expertise inclui a criação de componentes reutilizáveis
          para promover uma arquitetura de código modular e de fácil manutenção.'"/>
  </div>
</section>
