<section class="about section" id="about">
  <div class="about__container container grid">
    <h2 class="section__title-1">
      Sobre mim
    </h2>

    <div class="about__perfil">
      <div class="about__image">
        <img src="../../../assets/images/perfil-about.jpg" alt="image" class="about__img">

        <div class="about__shadow"></div>

        <div class="geometric-box"></div>
        <img src="../../../assets/images/random-lines.svg" alt="" class="about__line">
        <div class="about__box"></div>
      </div>
    </div>

    <div class="about__info">
      <p class="about__description">
        Ao longo da minha carreira, tive a oportunidade de
        trabalhar em projetos desafiadores, onde pude aprimorar
        minhas habilidades em <b>desenvolvimento front-end</b> e
        me especializar em <b>Angular</b>. Essa experiência me
        permite criar aplicações web escaláveis, <b>responsivas</b> e
        visualmente atraentes.
      </p>

      <p class="about__description">
        Estou sempre em busca de novas oportunidades e
        desafios empolgantes, onde posso contribuir com minhas
        habilidades de <b>desenvolvimento web</b> e trabalhar em
        equipe para alcançar resultados excepcionais.
      </p>

      <ul class="about__list">
        <li class="about__item">
          <b>Minhas skills são:</b> JavaScript, Figma,
           Git & GitHub, Bootstrap, TypeScript & Angular.
        </li>
      </ul>

      <div class="about__buttons">
        <a href="#contact" class="button">
          <i class="ri-send-plane-line"></i> contate-me
        </a>

        <a href="https://www.linkedin.com/in/joneilson-pereira/" target="_blank" class="button__ghost">
          <i class="ri-linkedin-box-line"></i>
        </a>
      </div>
    </div>
  </div>
</section>
